# Integração e preparação de dados

#### O objetivo aqui é importar todas as 18 bases de dados contidas em arquivos .xlsx, integrá-las e limpá-las para utilização posterior

## 1. Importando bibliotecas e definindo funções a serem utilizadas

In [17]:
import pandas as pd     
import os

#### Verificando o arquivo em Excel, é possível perceber que a coluna que indica o ano da coleta, em alguns arquivos, tem o tipo de data(ex: 01-01-2020), porém, essa é uma análise realizada na granularidade anual.

In [18]:

# Tendo em vista essa inconsistência, aqui será criada uma função
# para trazer somente os 4 primeiros dígitos (o ano)

def extrair_data(i):
                    
    valor = i[:4]

    return valor

# Logo em seguida, outra função para importar e tratar as várias bases separadamente

def importar_arquivos(path:str):

    df = pd.read_excel(path)    # Leitura do arquivo
    df['Year'] = df['Year'].astype('str')   # Coluna ano transformada em string
    df['Year'] = df['Year'].apply(extrair_data) # E agora aplicando a função criada anteriormente

    return df

# Optei por manter o tipo da variável 'Year' como texto por ela ser utilizada como categórica

## 2. Integração e Limpeza da base

#### Todas as planilhas serão consolidadas em um único dataframe, para que o tratamento seja realizado uma única vez

In [19]:
arquivos = os.listdir() # Nomes de todos os arquivos da pasta

dfs = []

for arquivo in arquivos:                            # Para cada arquivo na pasta, 
    if arquivo[-4:] == "xlsx":                      # é realizada uma verificação se a extensão é .xlsx
        dfs.append(importar_arquivos(arquivo))      # Se sim, a função criada acima é aplicada

df_final = pd.concat(dfs, axis = 0)  # E as linhas desses dataframes são integradas / empilhadas

print(df_final['Year'].unique()) # Verificação se todos os anos foram transformados

df_final

['2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014' '2015'
 '2016' '2017' '2018' '2019' '2020' '2021' '2022']

,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention,Change from Previous Year
0,Sudan,2006,1st,112.3,9.8,9.1,9.7,7.5,9.2,9.1,9.5,9.5,9.8,9.6,9.7,9.8,NaN
1,Congo Democratic Republic,2006,2nd,110.1,9.8,9.6,9.1,8.1,9.0,8.0,9.0,9.0,9.5,9.5,9.5,10.0,NaN
2,Cote d'Ivoire,2006,3rd,109.2,9.8,9.8,9.8,9.0,8.0,8.5,10.0,8.5,9.4,8.8,7.6,10.0,NaN
3,Iraq,2006,4th,109.0,9.8,9.7,9.8,8.2,8.7,9.1,8.5,8.3,9.7,8.9,8.3,10.0,NaN
4,Zimbabwe,2006,5th,108.9,9.4,8.5,8.5,9.8,9.2,9.0,8.9,9.5,9.5,9.7,8.9,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Denmark,2022,175th,18.1,1.4,1.4,3.4,1.2,1.5,1.0,0.3,1.7,0.6,2.6,2.7,0.3,NaN
175,New Zealand,2022,176th,17.5,1.7,1.4,2.3,2.9,2.3,1.4,0.5,1.2,0.5,1.3,1.5,0.5,NaN
176,Iceland,2022,177th,17.1,0.4,1.8,0.5,3.1,1.4,1.7,0.4,0.9,0.4,1.8,1.8,2.9,NaN
177,Norway,2022,178th,15.6,1.5,1.1,3.4,1.7,1.3,0.7,0.3,1.3,0.3,1.7,2.0,0.3,NaN
178,Finland,2022,179th,15.1,2.2,1.4,0.3,2.6,1.3,1.5,0.3,1.3,0.3,2.0,1.6,0.3,NaN

#### Primeiramente corrigiremos o índice

In [20]:
df_final.index = range(0,df_final.shape[0])  # Ele irá de zero até a quantidade de linhas
df_final.head()

,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention,Change from Previous Year
0,Sudan,2006,1st,112.3,9.8,9.1,9.7,7.5,9.2,9.1,9.5,9.5,9.8,9.6,9.7,9.8,NaN
1,Congo Democratic Republic,2006,2nd,110.1,9.8,9.6,9.1,8.1,9.0,8.0,9.0,9.0,9.5,9.5,9.5,10.0,NaN
2,Cote d'Ivoire,2006,3rd,109.2,9.8,9.8,9.8,9.0,8.0,8.5,10.0,8.5,9.4,8.8,7.6,10.0,NaN
3,Iraq,2006,4th,109.0,9.8,9.7,9.8,8.2,8.7,9.1,8.5,8.3,9.7,8.9,8.3,10.0,NaN
4,Zimbabwe,2006,5th,108.9,9.4,8.5,8.5,9.8,9.2,9.0,8.9,9.5,9.5,9.7,8.9,8.0,NaN

#### Verificando valores nulos

In [21]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           2991 non-null   object
 1   Year                              2991 non-null   object
 2   Rank                              2991 non-null   object
 3   Total                             2991 non-null   float64
 4   C1: Security Apparatus            2991 non-null   float64
 5   C2: Factionalized Elites          2991 non-null   float64
 6   C3: Group Grievance               2991 non-null   float64
 7   E1: Economy                       2991 non-null   float64
 8   E2: Economic Inequality           2991 non-null   float64
 9   E3: Human Flight and Brain Drain  2991 non-null   float64
 10  P1: State Legitimacy              2991 non-null   float64
 11  P2: Public Services               2991 non-null   float64
 12  P3: Human Rights                  2991 non-null   float64
 13  S1: Demographic Pressures         2991 non-null   float64
 14  S2: Refugees and IDPs             2991 non-null   float64
 15  X1: External Intervention         2991 non-null   float64
 16  Change from Previous Year         356 non-null    float64
dtypes: float64(14), object(3)
memory usage: 397.4+ KB

#### A variável que contém as variações anuais, contém muitos valores vazios, então não conseguirá trazer informações consistentes

In [22]:
df_final.drop(columns = 'Change from Previous Year', inplace = True)
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           2991 non-null   object
 1   Year                              2991 non-null   object
 2   Rank                              2991 non-null   object
 3   Total                             2991 non-null   float64
 4   C1: Security Apparatus            2991 non-null   float64
 5   C2: Factionalized Elites          2991 non-null   float64
 6   C3: Group Grievance               2991 non-null   float64
 7   E1: Economy                       2991 non-null   float64
 8   E2: Economic Inequality           2991 non-null   float64
 9   E3: Human Flight and Brain Drain  2991 non-null   float64
 10  P1: State Legitimacy              2991 non-null   float64
 11  P2: Public Services               2991 non-null   float64
 12  P3: Human Rights                  2991 non-null   float64
 13  S1: Demographic Pressures         2991 non-null   float64
 14  S2: Refugees and IDPs             2991 non-null   float64
 15  X1: External Intervention         2991 non-null   float64
dtypes: float64(13), object(3)
memory usage: 374.0+ KB

#### Além do sufixos, também existe um registro do ano de 2012 que apesar de ter sua pontuação aferida, não entrou no ranking, então ele será excluído para não prejudicar posteriormente

In [23]:
print(df_final['Rank'].unique())
df_final[df_final['Rank'] == 'n/r'].head()

['1st' '2nd' '3rd' '4th' '5th' '6th' '8th' '9th' '10th' '11th' '13th'
 '14th' '15th' '16th' '18th' '19th' '20th' '21st' '22nd' '24th' '25th'
 '26th' '27th' '28th' '29th' '30th' '31st' '32nd' '33rd' '35th' '36th'
 '37th' '39th' '41st' '42nd' '43rd' '44th' '45th' '46th' '47th' '49th'
 '50th' '51st' '52nd' '54th' '55th' '56th' '57th' '59th' '60th' '61st'
 '63rd' '65th' '66th' '67th' '68th' '70th' '71st' '72nd' '73rd' '74th'
 '75th' '76th' '77th' '78th' '79th' '80th' '81st' '82nd' '83rd' '84th'
 '85th' '86th' '87th' '88th' '89th' '90th' '91st' '92nd' '93rd' '94th'
 '95th' '96th' '97th' '98th' '100th' '101st' '102nd' '103rd' '104th'
 '105th' '106th' '107th' '108th' '109th' '110th' '111th' '112th' '113th'
 '114th' '115th' '116th' '117th' '118th' '119th' '120th' '121st' '122nd'
 '123rd' '124th' '125th' '126th' '127th' '128th' '129th' '130th' '131st'
 '132nd' '133rd' '134th' '135th' '136th' '137th' '138th' '139th' '140th'
 '141st' '142nd' '143rd' '144th' '146th' '7th' '12th' '17th' '23rd' '38th'
 '40th' '48th' '53rd' '58th' '62nd' '69th' '145th' '147th' '148th' '149th'
 '150th' '151st' '152nd' '153rd' '154th' '155th' '156th' '158th' '159th'
 '160th' '161st' '162nd' '163rd' '164th' '165th' '166th' '167th' '168th'
 '169th' '170th' '171st' '172nd' '173rd' '174th' '175th' '176th' '34th'
 '64th' '157th' '177th' '99th' 'n/r' '178th' '179th']

,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention
1034,South Sudan,2012,n/r,108.4,9.7,10.0,10.0,7.3,8.8,6.4,9.1,9.5,9.2,8.4,9.9,10.0

In [8]:
linhas_antes = df_final.shape[0]
df_final = df_final.drop(df_final[df_final['Rank'] == 'n/r'].index)
linhas_depois = df_final.shape[0]
linhas_removidas = linhas_antes - linhas_depois
print('Linhas removidas: ', linhas_removidas)

Linhas removidas:  1

#### Nessa mesma variável, existe também um sufixo que impossibilita a transformação em números

In [9]:
df_final['Rank'] = df_final['Rank'].str[:-2] # Então removeremos esse sufixo
df_final['Rank'] = df_final['Rank'].astype('int')
df_final['Rank'].unique()

array([  1,   2,   3,   4,   5,   6,   8,   9,  10,  11,  13,  14,  15,
        16,  18,  19,  20,  21,  22,  24,  25,  26,  27,  28,  29,  30,
        31,  32,  33,  35,  36,  37,  39,  41,  42,  43,  44,  45,  46,
        47,  49,  50,  51,  52,  54,  55,  56,  57,  59,  60,  61,  63,
        65,  66,  67,  68,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118,
       119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131,
       132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144,
       146,   7,  12,  17,  23,  38,  40,  48,  53,  58,  62,  69, 145,
       147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 158, 159, 160,
       161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173,
       174, 175, 176,  34,  64, 157, 177,  99, 178, 179])

#### Agora que a variável rank é numérica, poderemos usá-la para ordenar a base de dados por ano e rank

In [10]:
df_final.sort_values(by=['Year','Rank'],ascending = True, inplace = True)
df_final.head()

,Country,Year,Rank,Total,C1: Security Apparatus,C2: Factionalized Elites,C3: Group Grievance,E1: Economy,E2: Economic Inequality,E3: Human Flight and Brain Drain,P1: State Legitimacy,P2: Public Services,P3: Human Rights,S1: Demographic Pressures,S2: Refugees and IDPs,X1: External Intervention
0,Sudan,2006,1,112.3,9.8,9.1,9.7,7.5,9.2,9.1,9.5,9.5,9.8,9.6,9.7,9.8
1,Congo Democratic Republic,2006,2,110.1,9.8,9.6,9.1,8.1,9.0,8.0,9.0,9.0,9.5,9.5,9.5,10.0
2,Cote d'Ivoire,2006,3,109.2,9.8,9.8,9.8,9.0,8.0,8.5,10.0,8.5,9.4,8.8,7.6,10.0
3,Iraq,2006,4,109.0,9.8,9.7,9.8,8.2,8.7,9.1,8.5,8.3,9.7,8.9,8.3,10.0
4,Zimbabwe,2006,5,108.9,9.4,8.5,8.5,9.8,9.2,9.0,8.9,9.5,9.5,9.7,8.9,8.0

#### Os nomes dos indicadores possuem prefixos que dificultam a digitação de seus nomes no código, então optei por removê-los

In [11]:
colunas = df_final.columns.to_list() # Criação de uma lista com os nomes de colunas do dataframe final

# Para facilitar nas análises, removerei os prefixos das colunas de cada indicador
colunas_new = []

for coluna in colunas:                  # Esse loop fará a verificação de todos os nomes
    if coluna[2] != ":":                # se o terceiro caractere do nome não for ":"
        colunas_new.append(coluna)      # O nome completo será adicionado à nova lista 
    else:
        colunas_new.append(coluna[4:])  # Caso contrário, o nome será utilizado a partir do 5º caractere
       
df_final.columns = colunas_new
df_final.head()

,Country,Year,Rank,Total,Security Apparatus,Factionalized Elites,Group Grievance,Economy,Economic Inequality,Human Flight and Brain Drain,State Legitimacy,Public Services,Human Rights,Demographic Pressures,Refugees and IDPs,External Intervention
0,Sudan,2006,1,112.3,9.8,9.1,9.7,7.5,9.2,9.1,9.5,9.5,9.8,9.6,9.7,9.8
1,Congo Democratic Republic,2006,2,110.1,9.8,9.6,9.1,8.1,9.0,8.0,9.0,9.0,9.5,9.5,9.5,10.0
2,Cote d'Ivoire,2006,3,109.2,9.8,9.8,9.8,9.0,8.0,8.5,10.0,8.5,9.4,8.8,7.6,10.0
3,Iraq,2006,4,109.0,9.8,9.7,9.8,8.2,8.7,9.1,8.5,8.3,9.7,8.9,8.3,10.0
4,Zimbabwe,2006,5,108.9,9.4,8.5,8.5,9.8,9.2,9.0,8.9,9.5,9.5,9.7,8.9,8.0

## 3. Exportando a base integrada para .csv

In [14]:
df_final.to_csv('FSI-INTEGRADO.csv', sep = ";")